@import './i-variables.scss';
.va-data-table {
    width: 100%;
    .va-table {
        th {
            &.sortable {
                color: $dark-green!important;
                &:hover {
                    color: #2185d0!important;
                }
            }
            font-size: 0.75rem;
            border-bottom: 1px solid #babfc2;
            &.date {
                min-width: 135px;
            }
            &.hex-id {
                min-width: 195px;
            }
        }
        td {
            &.actions {
                .d-flex {
                    justify-content: center;
                }
            }
        }
    }
}
