.flatpickr-calendar {
    .flatpickr-days {
        .dayContainer {
            .flatpickr-day {
                border: 1px solid transparent!important;
                &.today {
                    border-color: #959ea9!important;
                }
              }
        }
    }
}