@import "~vuestic-ui/src/components/vuestic-sass/global/reset.scss";
@import "~vuestic-ui/src/components/vuestic-sass/global/normalize.scss";
@import "~vuestic-ui/src/components/vuestic-sass/vuestic-styles";
@import './icons/icons.scss';
@import './i-datatable.scss';
@import './i-form.scss';
@import './i-modal.scss';
@import './i-card.scss';
@import './i-pagination.scss';
@import './i-tab.scss';
@import './i-upload-file.scss';
@import './i-date-picker.scss';
html {
  // font-size: 18px;
  body {
    height: 100%;
    #app {
      height: 100%;
    }
  }
}