<template>
  <CompanyForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="{}"
    :list="list"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import { makeHttpClient, difference } from "../../services/utils";
import CompanyForm from "./CompanyForm";
import moment from 'moment'

export default {
  data() {
    return {
      item: {
        MaSoThue: "",
        Title: "",
        TitleEn: "",
        TitleEnAscii: "",
        LoaiHinhTitle: "",
        NganhNgheTitle: "",
        DiaChiCongTy: "",
        IsDelete: false,
        Phone: "",
        MetaKeyword: "",
        Intro: "",
        ChuSoHuu: "",
        GiayPhepKinhDoanh_NgayCap: "",
        Website: "",
        Email: "",
      }
    };
  },
  components: {
    CompanyForm
  },
  computed: {
    ...mapState({
      list: state => state.company.list || []
    })
  },
  methods: {
    ...mapActions(["fetchCompanies", "saveCompany"]),
    handleCancel() {
      this.$router.push(`/admin/companies`);
    },
    handleSubmit(file) {
      this.saveCompany({
        auth: this.$auth,
        data: {
          ...this.item,
          GiayPhepKinhDoanh_NgayCap: moment(this.item.GiayPhepKinhDoanh_NgayCap, "DD-MM-YYYY")
        },
        success: res => {
          this.$router.push("/admin/companies");
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật dịch vụ thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.fetchCompanies({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.companies {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
