<template>
  <va-card title="Companies" class="companies">
    <template slot="header">
      <div class="row align--center">
        <div class="flex xs12">
          <div class="d-flex justify--space-between align--center">
            <div class="flex md4">
              <div class="row align--center">
                <div class="flex md12">
                  <div class="d-flex justify--start align--end">
                    <div class="flex md12">
                      <form @submit.stop.prevent="handleSearchFormSubmit">
                        <va-input
                          v-model="search_input"
                          placeholder="nhập tên công ty, mã số thuế"
                        >
                          <va-button
                            slot="append"
                            style="margin-right: 0;"
                            small
                            >Tìm</va-button
                          >
                        </va-input>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <va-button-group class="flex">
              <va-button
                @click="handleCreateBtnClick"
                color="gray"
                icon="glyphicon glyphicon-plus"
                >Thêm</va-button
              >
            </va-button-group>
            <div class="flex md4">
              <va-select
                v-model="per_page"
                :label="$t('tables.perPage')"
                :options="per_page_options"
              />
            </div>
          </div>
        </div>
      </div>
    </template>

    <IDataTable
      apiUrl="/companies"
      ref="iDatatable"
      api-mode
      :queryParams="
        (sortOrder, currentPage, perPage) => ({
          p: currentPage,
          r: perPage || 0,
          k: search_input
        })
      "
      :fields="table_header_fields"
      :per-page="parseInt(per_page)"
    >
      <template slot="actions" slot-scope="props">
        <div class="d-flex">
          <va-button
            @click="handleRowEditClick(props.rowData)"
            flat
            color="gray"
            icon="fa fa-pencil"
          />
          <va-button
            v-if="$auth.user().roles == 'admin'"
            @click="handleRowDeleteClick(props.rowData)"
            flat
            color="gray"
            icon="fa fa-trash"
          />
        </div>
      </template>
    </IDataTable>
  </va-card>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { makeHttpClient, difference } from "../../services/utils";
import CompanyForm from "./CompanyForm";
import IDataTable from "../IDataTable.vue";
import { FIELDS } from "./contanst";
import moment from "moment";
import {
  ACTION_FIELD,
  PER_PAGE_OPTIONS,
  DEFAULT_PER_PAGE
} from "../../constant";

export default {
  data() {
    return {
      table_header_fields: FIELDS.concat([ACTION_FIELD]),
      per_page: DEFAULT_PER_PAGE,
      per_page_options: [].concat(PER_PAGE_OPTIONS),
      search_input: ""
    };
  },
  components: {
    CompanyForm,
    IDataTable
  },
  computed: {
    ...mapState({
      list: state => state.company.list
    })
  },
  methods: {
    ...mapActions(["fetchCompanies", "deleteCompany"]),
    handleSearchFormSubmit() {
      this.$refs.iDatatable.$refs.vuetable.refresh();
    },
    handleRowEditClick(item) {
      this.$router.push(`/admin/edit-company${item.SolrID}`);
    },
    handleRowDeleteClick(item) {
      console.log('item::', item)
      this.$swal
        .fire({
          title: "Chắc xoá không?",
          text: "Khi xoá rồi ko lấy lại được!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Xoá!"
        })
        .then(result => {
          if (result.value) {
            this.deleteCompany({
              auth: this.$auth,
              id: item._id,
              success: res => {
                this.handleSearchFormSubmit()
                this.$notify({
                  type: "success",
                  group: "app",
                  text: "Xoá Thành Công!"
                });
              }
            });
          }
        });
    },
    handleCreateBtnClick() {
      this.$router.push(`/admin/create-company`);
    }
  },
  mounted() {
    console.log('auth :>> ', this.$auth.user())
    this.fetchCompanies({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.companies {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
