<template>
  <CompanyForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="origin"
    :list="list"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import { makeHttpClient, difference } from "../../services/utils";
import CompanyForm from "./CompanyForm";
import moment from "moment";

export default {
  data() {
    return {
      item: {
        company_type: {}
      }
    };
  },
  components: {
    CompanyForm
  },
  computed: {
    ...mapState({
      origin: state => state.company.detail,
      list: state => state.company.list
    })
  },
  methods: {
    ...mapActions(["fetchCompanies", "getDetailCompany", "updateCompany"]),
    handleCancel() {
      this.$router.push(`/admin/companies`);
    },
    handleSubmit() {
      let data = {};
      if (this.item.MaSoThue != this.origin.MaSoThue) {
        data.MaSoThue = this.item.MaSoThue;
      }
      if (this.item.Title != this.origin.Title) {
        data.Title = this.item.Title;
      }
      if (this.item.TitleEn != this.origin.TitleEn) {
        data.TitleEn = this.item.TitleEn;
      }
      if (this.item.TitleEnAscii != this.origin.TitleEnAscii) {
        data.TitleEnAscii = this.item.TitleEnAscii;
      }
      if (this.item.LoaiHinhTitle != this.origin.LoaiHinhTitle) {
        data.LoaiHinhTitle = this.item.LoaiHinhTitle;
      }
      if (this.item.NganhNgheTitle != this.origin.NganhNgheTitle) {
        data.NganhNgheTitle = this.item.NganhNgheTitle;
      }
      if (this.item.DiaChiCongTy != this.origin.DiaChiCongTy) {
        data.DiaChiCongTy = this.item.DiaChiCongTy;
      }
      if (this.item.Phone != this.origin.Phone) {
        data.Phone = this.item.Phone;
      }
      if (this.item.Phone != this.origin.Phone) {
        data.Phone = this.item.Phone;
      }
      if (this.item.ChuSoHuu != this.origin.ChuSoHuu) {
        data.ChuSoHuu = this.item.ChuSoHuu;
      }
      if (
        this.item.GiayPhepKinhDoanh_NgayCap !=
        this.origin.GiayPhepKinhDoanh_NgayCap
      ) {
        data.GiayPhepKinhDoanh_NgayCap = moment(this.item.GiayPhepKinhDoanh_NgayCap, 'DD-MM-YYYY');
      }
      if (this.item.Website != this.origin.Website) {
        data.Website = this.item.Website;
      }
      if (this.item.Email != this.origin.Email) {
        data.Email = this.item.Email;
      }
      if (this.item.IsDelete != this.origin.IsDelete) {
        data.IsDelete = this.item.IsDelete;
      }
      if (this.item.MetaKeyword != this.origin.MetaKeyword) {
        data.MetaKeyword = this.item.MetaKeyword;
      }
      if (this.item.Intro != this.origin.Intro) {
        data.Intro = this.item.Intro;
      }

      this.updateCompany({
        auth: this.$auth,
        id: this.origin._id,
        data: data,
        success: res => {
          this.$router.push("/admin/companies");
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật dịch vụ thành công`
          });
        }
      });
    }
  },
  async mounted() {
    const params = this.$route.params.slug.split("-");
    this.getDetailCompany({
      auth: this.$auth,
      slug: params[0],
      success: res => {
        this.item = res.data.data;
      }
    });
    this.fetchCompanies({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.companies {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
