<template>
  <form class="i-form" @submit.stop.prevent="handleFormSubmit">
    <div class="row">
      <div class="flex sm12">
        <va-card title="Thông tin cơ bản">
          <va-input
            name="MaSoThue"
            :error="!_.isEmpty(veeErrors.first('MaSoThue'))"
            :error-messages="[veeErrors.first('MaSoThue')]"
            v-validate="'required'"
            :state="validateState('MaSoThue')"
            :value="MaSoThue"
             @input="$emit('update:MaSoThue', $event)"
            label="Mã số thuế"
          ></va-input>
          <va-input
            name="Title"
            :error="!_.isEmpty(veeErrors.first('Title'))"
            :error-messages="[veeErrors.first('Title')]"
            v-validate="'required'"
            :state="validateState('Title')"
            @input="$emit('update:Title', $event)"
            :value="Title"
            label="Tên Doanh Nghiệp"
          ></va-input>
          <va-input
            name="TitleEn"
            :value="TitleEn"
            @input="$emit('update:TitleEn', $event)"
            label="Tên Doanh Nghiệp Viết Bằng Tiếng Nước Ngoài"
          ></va-input>
          <va-input
            name="TitleEnAscii"
            :value="TitleEnAscii"
            @input="$emit('update:TitleEnAscii', $event)"
            label="Tên Doanh Nghiệp Viết Tắt"
          ></va-input>
          <va-toggle
            @input="$emit('update:IsDelete', $event)"
            :value="!IsDelete"
            name="IsDelete"
            label="Trạng thái hoạt động"
          />
          <va-input
            name="LoaiHinhTitle"
            :value="LoaiHinhTitle"
            @input="$emit('update:LoaiHinhTitle', $event)"
            label="Loại hình pháp lý"
          ></va-input>
          <IDatePicker
            label="Ngày cấp giấy phép"
            @input="$emit('update:GiayPhepKinhDoanh_NgayCap', $event)"
            name="GiayPhepKinhDoanh_NgayCap"
            :value="GiayPhepKinhDoanh_NgayCap"
          />
          <va-input
            name="ChuSoHuu"
            @input="$emit('update:ChuSoHuu', $event)"
            :value="ChuSoHuu"
            label="Tên người đại diện theo pháp luật"
          ></va-input>
          <va-input
            name="DiaChiCongTy"
            @input="$emit('update:DiaChiCongTy', $event)"
            :value="DiaChiCongTy"
            label="Địa chỉ công ty"
          ></va-input>
          <va-input
            name="NganhNgheTitle"
            @input="$emit('update:NganhNgheTitle', $event)"
            :value="NganhNgheTitle"
            label="Ngành nghề chính"
          ></va-input>
          <va-input
            name="hone"
            :value="Phone"
            @input="$emit('update:Phone', $event)"
            label="Điện thoại"
          ></va-input>
          <va-input
            name="Website"
            :value="Website"
            @input="$emit('update:Website', $event)"
            label="Website"
          ></va-input>
          <va-input
            name="Email"
            :value="Email"
            @input="$emit('update:Email', $event)"
            label="Email"
          ></va-input>
          <va-input
            name="MetaKeyword"
            :value="MetaKeyword"
            @input="$emit('update:MetaKeyword', $event)"
            label="Meta Keyword"
          ></va-input>
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="Giới Thiệu (H2)">
          <vue-editor :value="Intro" @input="$emit('update:Intro', $event)"></vue-editor>
          <div class="flex sm12 va-modal__actions">
            <div class="d-flex justify--center" style="background: #FFF">
              <va-button type="button" color="gray" flat @click="handleCancelClick">Huỷ</va-button>
              <va-button>Lưu</va-button>
            </div>
          </div>
        </va-card>
      </div>
    </div>
  </form>
</template>

<script>
import { FIELDS } from "./contanst";
// Advanced Use - Hook into Quill's API for Custom Functionality
import { VueEditor, Quill } from "vue2-editor";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import IDatePicker from "../IDatePicker";

export default {
  props: {
    MetaKeyword: String,
    Intro: String,
    MaSoThue: String,
    Title: String,
    TitleEn: String,
    TitleEnAscii: String,
    LoaiHinhTitle: String,
    NganhNgheTitle: String,
    DiaChiCongTy: String,
    Phone: String,
    ChuSoHuu: String,
    GiayPhepKinhDoanh_NgayCap: String,
    Website: String,
    Email: String,
    IsDelete: {
      type: Boolean
    },
    list: Array,
    origin: Object
  },
  components: {
    VueEditor,
    IDatePicker
  },
  data() {
    return {
      editor: ClassicEditor,
      custom_prices: false,
      fields: FIELDS,
      update_image: [],
      update_thumb: [],
      aaa: `<span>sfdsf sdfsdf sfds</span>`
    };
  },
  methods: {
    handlePriceCustomClick() {
      this.custom_prices = !this.custom_prices;
    },
    handleFormSubmit() {
      this.$validator.validateAll().then(result => {
        if (!result) {
          return;
        }
        this.$emit("onFormSubmit");
      });
    },
    validateState(ref) {
      if (
        this.veeFields[ref] &&
        (this.veeFields[ref].dirty || this.veeFields[ref].validated)
      ) {
        return !this.veeErrors.has(ref);
      }
      return null;
    },
    handleCancelClick() {
      this.$emit("onCancelClick");
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
