<template>
  <AdsForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="{}"
    :list="list"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import AdsForm from "./AdsForm";

export default {
  data() {
    return {
      item: {
        title: "",
        url: "",
        image: "",
        description: "",
        position: {
          text: "Trái",
          id: 1
        },
        order: 1
      }
    };
  },
  components: {
    AdsForm
  },
  computed: {
    ...mapState({
      origin: state => state["ads"].detail,
      list: state => state["ads"].list
    })
  },
  methods: {
    ...mapActions(["fetchAds", "saveAds"]),
    handleCancel() {
      this.$router.push(`/admin/ads`);
    },
    handleSubmit(file) {
      let data = new FormData();
      data.append("title", this.item.title);
      data.append("url", this.item.url);
      data.append("description", this.item.description);
      data.append("position", this.item.position.id);
      data.append("order", this.item.order);
      if (file.image.length != 0) {
        data.append("image", file.image[0]);
      }

      this.saveAds({
        auth: this.$auth,
        data: data,
        success: res => {
          this.$router.push("/admin/ads");
          this.$notify({
            type: "success",
            group: "app",
            text: `Tạo thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.fetchAds({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.ads {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
