<template>
  <AdsForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="origin"
    :list="list"
  />
</template>

<script>
import { POSITION_LIST } from "./contanst";
import { mapState, mapActions } from "vuex";
import AdsForm from "./AdsForm";

export default {
  data() {
    return {
      item: {
        position: {}
      }
    };
  },
  components: {
    AdsForm
  },
  computed: {
    ...mapState({
      origin: state => state["ads"].detail,
      list: state => state["ads"].list
    })
  },
  methods: {
    ...mapActions(["fetchAds", "getDetailAds", "updateAds"]),
    handleCancel() {
      this.$router.push(`/admin/ads`);
    },
    handleSubmit(file) {
      let data = new FormData();
      if (this.item.title != this.origin.title) {
        data.append("title", this.item.title);
      }
      if (this.item.url != this.origin.url) {
        data.append("url", this.item.url);
      }
      if (this.item.description != this.origin.description) {
        data.append("description", this.item.description);
      }
      if (this.item.position.id != this.origin.position) {
        data.append("position", this.item.position.id);
      }
       if (this.item.order != this.origin.order) {
        data.append("order", this.item.order);
      }

      if (file.image.length != 0) {
        data.append("image", file.image[0]);
      }
      
      this.updateAds({
        auth: this.$auth,
        id: this.origin._id,
        data: data,
        success: res => {
          this.$router.push("/admin/ads");
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.getDetailAds({
      auth: this.$auth,
      id: this.$route.params.id,
      success: res => {
        try {
          const find_position = POSITION_LIST.filter(
            item => (item.id == res.data.data.position)
          );
          this.item = Object.assign({}, res.data.data, {
            position: find_position[0]
          });
        } catch (error) {
          console.log("getDetailAds::error::", error.message);
        }
      }
    });
    this.fetchAds({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.ads {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
