<template>
  <form class="i-form" @submit.stop.prevent="handleFormSubmit">
    <div class="row">
      <div class="flex sm12">
        <va-card title="Thông tin cơ bản">
          <va-input
            name="title"
            :value="title"
            @input="$emit('update:title', $event)"
            label="Tiêu đề"
          ></va-input>
          <va-input
            name="url"
            @input="$emit('update:url', $event)"
            :value="url"
            label="Đường dẫn"
          ></va-input>
          <va-input
            type="textarea"
            name="description"
            @input="$emit('update:description', $event)"
            :value="description"
            label="Mô tả"
          ></va-input>
          <va-select
            @input="$emit('update:position', $event)"
            :value="position"
            label="Vị Trí Quảng cáo"
            :options="ads_position_list"
          />
          <va-input
            type="number"
            name="order"
            @input="$emit('update:order', $event)"
            :value="order"
            label="Thứ tự quảng cáo"
          ></va-input>
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="Image">
          <div>
            <img :src="origin.image" alt />
          </div>
          <va-file-upload
            file-types=".png, .jpg, .jpeg, .gif"
            style="margin-top: 15px;"
            v-model="update_image"
            type="gallery"
            dropzone
          />
          <div class="flex sm12 va-modal__actions">
            <div class="d-flex justify--center" style="background: #FFF">
              <va-button type="button" color="gray" flat @click="handleCancelClick">Huỷ</va-button>
              <va-button>Lưu</va-button>
            </div>
          </div>
        </va-card>
      </div>
    </div>
  </form>
</template>

<script>
import { FIELDS, POSITION_LIST } from "./contanst";
import { VueEditor, Quill } from "vue2-editor";

export default {
  components: {
    VueEditor
  },
  props: {
    position: Object,
    order: Number | String,
    url: String,
    title: String,
    description: Number | String,
    list: Array,
    origin: Object
  },
  data() {
    return {
      fields: FIELDS,
      update_image: [],
      ads_position_list: [].concat(POSITION_LIST)
    };
  },
  methods: {
    handleFormSubmit() {
      this.$validator.validateAll().then(result => {
        if (!result) {
          return;
        }
        this.$emit("onFormSubmit", {
          image: this.update_image
        });
      });
    },
    validateState(ref) {
      if (
        this.veeFields[ref] &&
        (this.veeFields[ref].dirty || this.veeFields[ref].validated)
      ) {
        return !this.veeErrors.has(ref);
      }
      return null;
    },
    handleCancelClick() {
      this.$emit("onCancelClick");
    }
  }
};
</script>

<style lang="scss" scoped>
.image-titile {
  padding-left: 8px;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #34495e !important;
  font-size: 0.75rem !important;
}
</style>
