<template>
  <va-card title="Ads" class="ads">
    <template slot="header">
      <div class="row align--center">
        <div class="flex xs12">
          <div class="d-flex justify--space-between align--center">
            <div class="flex md2 va-card__header-title"></div>
            <va-button-group class="flex">
              <va-button
                @click="handleCreateBtnClick"
                color="gray"
                icon="glyphicon glyphicon-plus"
              >Thêm</va-button>
            </va-button-group>
            <div class="flex md2">
              <va-select
                v-model="per_page"
                :label="$t('tables.perPage')"
                :options="per_page_options"
              />
            </div>
          </div>
        </div>
      </div>
    </template>

    <IDataTable :fields="table_header_fields" :data="list" :per-page="parseInt(per_page)">
      <template slot="position" slot-scope="props">
        <span>{{getPositionLable(props.rowData.position)}}</span>
      </template>
      <template slot="actions" slot-scope="props">
        <div class="d-flex">
          <va-button
            @click="handleRowEditClick(props.rowData)"
            flat
            color="gray"
            icon="fa fa-pencil"
          />
          <va-button
            @click="handleRowDeleteClick(props.rowData)"
            flat
            color="gray"
            icon="fa fa-trash"
          />
        </div>
      </template>
    </IDataTable>
  </va-card>
</template>

<script>
import { mapState, mapActions } from "vuex";
import AdsForm from "./AdsForm";
import IDataTable from "../IDataTable.vue";
import { FIELDS, POSITION_LIST } from "./contanst";
import moment from "moment";
import {
  ACTION_FIELD,
  PER_PAGE_OPTIONS,
  DEFAULT_PER_PAGE
} from "../../constant";

export default {
  data() {
    return {
      table_header_fields: FIELDS.concat([ACTION_FIELD]),
      per_page: DEFAULT_PER_PAGE,
      per_page_options: [].concat(PER_PAGE_OPTIONS)
    };
  },
  components: {
    AdsForm,
    IDataTable
  },
  computed: {
    ...mapState({
      list: state => state["ads"].list
    })
  },
  methods: {
    ...mapActions(["fetchAds", "deleteAds"]),
    getPositionLable(value){
      try {
        const find_position = POSITION_LIST.filter(item => item.id == value)
        return find_position[0].text
      } catch (error) {
        console.log(`getPositionLable::error::`, error.message);
      }
    },
    handleRowEditClick(item) {
      this.$router.push(`/admin/edit-ads/${item._id}`);
    },
    handleRowDeleteClick(item) {
      this.$swal
        .fire({
          title: "Chắc xoá không?",
          text: "Khi xoá rồi ko lấy lại được!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Xoá!"
        })
        .then(result => {
          if (result.value) {
            this.deleteAds({
              auth: this.$auth,
              id: item._id,
              success: res => {
                this.fetchAds({
                  auth: this.$auth
                });
                this.$notify({
                  type: "success",
                  group: "app",
                  text: "Xoá Thành Công!"
                });
              }
            });
          }
        });
    },
    handleCreateBtnClick() {
      this.$router.push(`/admin/create-ads`);
    }
  },
  mounted() {
    this.fetchAds({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.ads {
  .va-select {
    margin-bottom: 0px !important;
  }
  .description {
    word-break: break-all;
  }
}
</style>
