<template>
  <form class="i-form" @submit.stop.prevent="handleFormSubmit">
    <div class="row">
      <div class="flex sm12">
        <va-card title="Thông tin cơ bản">
          <va-input
            name="slug"
            :error="!_.isEmpty(veeErrors.first('slug'))"
            :error-messages="[veeErrors.first('slug')]"
            @input="$emit('update:slug', $event)"
            v-validate="`required|${!origin.slug ? `exist:` : `unique:${origin.slug},`}${list.map(item => item.slug)}`"
            :state="validateState('slug')"
            :value="slug"
            label="đường dẫn"
          ></va-input>
          <va-input
            name="title"
            :error="!_.isEmpty(veeErrors.first('title'))"
            :error-messages="[veeErrors.first('title')]"
            v-validate="'required'"
            :state="validateState('title')"
            :value="title"
            @input="$emit('update:title', $event)"
            label="tên dịch vụ"
          ></va-input>
          <va-select
            :options="service_types"
            :noClear="true"
            :value="service_type"
            @input="$emit('update:service_type', $event)"
            label="Loại dịch vụ"
            textBy="name"
            keyBy="_id"
          />
          <va-checkbox
            :value="is_tax_fee"
            @input="$emit('update:is_tax_fee', $event)"
            label="Phí khai báo thuế ban đầu"
          />
          <va-checkbox
            :value="is_cachet_fee"
            @input="$emit('update:is_cachet_fee', $event)"
            label="Phí con dấu"
          />
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="Image">
          <div>
            <img :src="origin.image" alt />
          </div>
          <va-file-upload
            file-types=".png, .jpg, .jpeg, .gif"
            style="margin-top: 15px;"
            v-model="update_image"
            type="gallery"
            dropzone
          />
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="Thumbnail">
          <div>
            <img :src="origin.thumb" alt />
          </div>
          <va-file-upload
            file-types=".png, .jpg, .jpeg, .gif"
            style="margin-top: 15px;"
            v-model="update_thumb"
            type="gallery"
          />
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="Chi Phí">
          <template slot="actions">
            <va-button type="button" @click="handlePriceCustomClick" icon="fa fa-gear" />
          </template>
          <vue-editor
            v-if="prices || custom_prices"
            :value="prices"
            @input="$emit('update:prices', $event)"
          ></vue-editor>
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="thời gian hoàn thành">
          <!-- <ckeditor :editor="editor" v-model="prices"></ckeditor> -->
          <vue-editor :value="duration" @input="$emit('update:duration', $event)"></vue-editor>
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="Hồ sơ">
          <!-- <ckeditor :editor="editor" v-model="prices"></ckeditor> -->
          <vue-editor :value="procedure" @input="$emit('update:procedure', $event)"></vue-editor>
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="Bàn giao">
          <!-- <ckeditor :editor="editor" v-model="prices"></ckeditor> -->
          <vue-editor :value="response" @input="$emit('update:response', $event)"></vue-editor>
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="Hỗ trợ">
          <!-- <ckeditor :editor="editor" v-model="prices"></ckeditor> -->
          <vue-editor :value="supporting" @input="$emit('update:supporting', $event)"></vue-editor>
          <div class="flex sm12 va-modal__actions">
            <div class="d-flex justify--center" style="background: #FFF">
              <va-button type="button" color="gray" flat @click="handleCancelClick">Huỷ</va-button>
              <va-button>Lưu</va-button>
            </div>
          </div>
        </va-card>
      </div>
    </div>
  </form>
</template>

<script>
import { FIELDS } from "./contanst";
// Advanced Use - Hook into Quill's API for Custom Functionality
import { VueEditor, Quill } from "vue2-editor";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

export default {
  props: {
    slug: String,
    title: String,
    image: String,
    thumb: String,
    prices: String,
    duration: String,
    procedure: String,
    response: String,
    supporting: String,
    service_type: Object,
    is_tax_fee: {
      type: Boolean,
      default: false
    },
    is_cachet_fee: {
      type: Boolean,
      default: false
    },
    list: Array,
    origin: Object,
    service_types: Array
  },
  components: {
    VueEditor
  },
  data() {
    return {
      editor: ClassicEditor,
      custom_prices: false,
      fields: FIELDS,
      update_image: [],
      update_thumb: [],
    };
  },
  methods: {
    handlePriceCustomClick() {
      this.custom_prices = !this.custom_prices;
    },
    handleFormSubmit() {
      this.$validator.validateAll().then(result => {
        if (!result) {
          return;
        }
        this.$emit("onFormSubmit", {
          image: this.update_image,
          thumb: this.update_thumb
        });
      });
    },
    validateState(ref) {
      if (
        this.veeFields[ref] &&
        (this.veeFields[ref].dirty || this.veeFields[ref].validated)
      ) {
        return !this.veeErrors.has(ref);
      }
      return null;
    },
    handleCancelClick() {
      this.$emit("onCancelClick");
    }
  }
};
</script>

<style lang="scss" scoped>
.image-titile {
  padding-left: 8px;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #34495e !important;
  font-size: 0.75rem !important;
}
</style>
