<template>
  <ServiceForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="{}"
    :list="list"
    :service_types="service_types"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import { makeHttpClient, difference } from "../../services/utils";
import ServiceForm from "./ServiceForm";

export default {
  data() {
    return {
      item: {
        slug: "",
        title: "",
        service_type: {},
        prices: "",
        duration: "",
        procedure: "",
        response: "",
        supporting: "",
        is_tax_fee: false,
        is_cachet_fee: false
      }
    };
  },
  components: {
    ServiceForm
  },
  computed: {
    ...mapState({
      list: state => state.service.list,
      service_types: state => state["service-type"].list
    })
  },
  methods: {
    ...mapActions(["fetchServices", "saveService", "fetchServiceTypes"]),
    handleCancel() {
      this.$router.push(`/admin/services`);
    },
    handleSubmit(file) {
      if (file.image.length != 0) {
        this.item.image = file.image[0];
      }
      if (file.thumb.length != 0) {
        this.item.thumb = file.thumb[0];
      }

      this.saveService({
        auth: this.$auth,
        data: this.item,
        success: res => {
          this.$router.push("/admin/services");
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật dịch vụ thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.fetchServiceTypes({
      auth: this.$auth,
      success: res => {
        this.item.service_type = res.data.data[0]
      }
    });
    this.fetchServices({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.services {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
