<template>
  <ServiceForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="origin"
    :list="list"
    :service_types="service_types"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import { makeHttpClient, difference } from "../../services/utils";
import ServiceForm from "./ServiceForm";

export default {
  data() {
    return {
      item: {
        service_type: {}
      }
    };
  },
  components: {
    ServiceForm
  },
  computed: {
    ...mapState({
      origin: state => state.service.detail,
      list: state => state.service.list,
      service_types: state => state["service-type"].list
    })
  },
  methods: {
    ...mapActions([
      "fetchServices",
      "getDetailService",
      "updateService",
      "fetchServiceTypes"
    ]),
    handleCancel() {
      this.$router.push(`/admin/services`);
    },
    handleSubmit(file) {
      let data = new FormData();
      if (this.item.slug != this.origin.slug) {
        data.append("slug", this.item.slug);
      }
      if (this.item.title != this.origin.title) {
        data.append("title", this.item.title);
      }
      if (this.item.service_type._id != this.origin.service_type._id) {
        data.append("service_type", this.item.service_type._id);
      }
      if (this.item.is_tax_fee != this.origin.is_tax_fee) {
        data.append("is_tax_fee", this.item.is_tax_fee);
      }
      if (this.item.is_cachet_fee != this.origin.is_cachet_fee) {
        data.append("is_cachet_fee", this.item.is_cachet_fee);
      }
      if (this.item.duration != this.origin.duration) {
        data.append("duration", this.item.duration);
      }
      if (this.item.procedure != this.origin.procedure) {
        data.append("procedure", this.item.procedure);
      }
      if (this.item.supporting != this.origin.supporting) {
        data.append("supporting", this.item.supporting);
      }
      if (this.item.response != this.origin.response) {
        data.append("response", this.item.response);
      }
      if (this.item.prices != this.origin.prices) {
        data.append("prices", this.item.prices);
      }
      if (file.image.length != 0) {
        data.append("image", file.image[0]);
      }
      if (file.thumb.length != 0) {
        data.append("thumb", file.thumb[0]);
      }

      this.updateService({
        auth: this.$auth,
        id: this.origin._id,
        data: data,
        success: (res) => {
          this.$router.push('/admin/services')
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật dịch vụ thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.getDetailService({
      auth: this.$auth,
      slug: this.$route.params.slug,
      success: res => {
        this.item = res.data.data;
      }
    });
    this.fetchServiceTypes({
      auth: this.$auth
    });
    this.fetchServices({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.services {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
