<template>
  <SettingForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="origin"
    :list="list"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import SettingForm from "./SettingForm";

export default {
  data() {
    return {
      item: {}
    };
  },
  components: {
    SettingForm
  },
  computed: {
    ...mapState({
      origin: state => state.setting.detail,
      list: state => state.setting.list
    })
  },
  methods: {
    ...mapActions(["fetchSettings", "getDetailSetting", "updateSetting"]),
    handleCancel() {
      this.$router.push(`/admin/settings`);
    },
    handleSubmit(file) {
      let data = {};
      if (this.item.code != this.origin.code) {
        data.code = this.item.code;
      }
      if (this.item.name != this.origin.name) {
        data.name = this.item.name;
      }
      if (this.item.value != this.origin.value) {
        data.value = this.item.value;
      }
      this.updateSetting({
        auth: this.$auth,
        id: this.origin._id,
        data: data,
        success: res => {
          this.$router.push("/admin/settings");
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật Vùng thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.getDetailSetting({
      auth: this.$auth,
      code: this.$route.params.code,
      success: res => {
        this.item = res.data.data;
      }
    });
    this.fetchSettings({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.settings {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
