<template>
  <SettingForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="{}"
    :list="list"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import SettingForm from "./SettingForm";

export default {
  data() {
    return {
      item: {
        name: "",
        code: "",
        value: "",
        is_complex: false
      }
    };
  },
  components: {
    SettingForm
  },
  computed: {
    ...mapState({
      origin: state => state.setting.detail,
      list: state => state.setting.list,
    })
  },
  methods: {
    ...mapActions([
      "fetchSettings",
      "saveSetting",
    ]),
    handleCancel() {
      this.$router.push(`/admin/settings`);
    },
    handleSubmit(file) {
      this.saveSetting({
        auth: this.$auth,
        data: this.item,
        success: (res) => {
          this.$router.push('/admin/settings')
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật Vùng thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.fetchSettings({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.settings {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
