<template>
  <form class="i-form" @submit.stop.prevent="handleFormSubmit">
    <div class="row">
      <div class="flex sm12">
        <va-card title="Thông tin cơ bản">
          <va-input
            name="code"
            :error="!_.isEmpty(veeErrors.first('code'))"
            :error-messages="[veeErrors.first('code')]"
            @input="$emit('update:code', $event)"
            :readonly="!!origin.code"
            v-validate="`required|${!origin.code ? `exist:` : `unique:${origin.code},`}${list.map(item => item.code)}`"
            :state="validateState('code')"
            :value="code"
            label="Mã"
          ></va-input>
          <va-input
            name="name"
            :error="!_.isEmpty(veeErrors.first('name'))"
            :error-messages="[veeErrors.first('name')]"
            v-validate="'required'"
            :state="validateState('name')"
            :value="name"
            @input="$emit('update:name', $event)"
            label="Tên"
          ></va-input>
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="Giá trị">
          <template slot="actions" v-if="!origin.code">
            <va-button type="button" @click="handleValueCustomClick" icon="fa fa-gear" />
          </template>
          <va-input
            v-if="!is_complex"
            name="value"
            :error="!_.isEmpty(veeErrors.first('value'))"
            :error-messages="[veeErrors.first('value')]"
            v-validate="'required'"
            :state="validateState('value')"
            :value="value"
            @input="$emit('update:value', $event)"
            label="Giá trị"
          ></va-input>
          <vue-editor v-else :value="value" @input="$emit('update:value', $event)"></vue-editor>
          <div class="flex sm12 va-modal__actions">
            <div class="d-flex justify--center">
              <va-button type="button" color="gray" flat @click="handleCancelClick">Huỷ</va-button>
              <va-button>Lưu</va-button>
            </div>
          </div>
        </va-card>
      </div>
    </div>
  </form>
</template>

<script>
import { FIELDS } from "./contanst";
import { VueEditor, Quill } from "vue2-editor";

export default {
  components: {
    VueEditor
  },
  props: {
    code: String,
    name: String,
    value: String,
    is_complex: Boolean,
    list: Array,
    origin: Object
  },
  data() {
    return {
      fields: FIELDS,
    };
  },
  methods: {
    handleValueCustomClick(){
      this.$emit('update:is_complex', !this.is_complex)
    },
    handleFormSubmit() {
      this.$validator.validateAll().then(result => {
        if (!result) {
          return;
        }
        this.$emit("onFormSubmit", {});
      });
    },
    validateState(ref) {
      if (
        this.veeFields[ref] &&
        (this.veeFields[ref].dirty || this.veeFields[ref].validated)
      ) {
        return !this.veeErrors.has(ref);
      }
      return null;
    },
    handleCancelClick() {
      this.$emit("onCancelClick");
    }
  }
};
</script>

<style lang="scss" scoped>
.image-titile {
  padding-left: 8px;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #34495e !important;
  font-size: 0.75rem !important;
}
</style>
