<template>
  <ServiceTypeForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="origin"
    :list="list"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import ServiceTypeForm from "./ServiceTypeForm";

export default {
  data() {
    return {
      item: {}
    };
  },
  components: {
    ServiceTypeForm
  },
  computed: {
    ...mapState({
      origin: state => state['service-type'].detail,
      list: state => state['service-type'].list
    })
  },
  methods: {
    ...mapActions(["fetchServiceTypes", "getDetailServiceType", "updateServiceType"]),
    handleCancel() {
      this.$router.push(`/admin/service-types`);
    },
    handleSubmit(file) {
      let data = new FormData();
      if (this.item.code != this.origin.code) {
         data.append("code", this.item.code);
      }
      if (this.item.name != this.origin.name) {
         data.append("name", this.item.name);
      }
      if (this.item.description != this.origin.description) {
        data.append("description", this.item.description);
      }
      if (file.image.length != 0) {
        data.append("image", file.image[0]);
      }
      this.updateServiceType({
        auth: this.$auth,
        id: this.origin._id,
        data: data,
        success: res => {
          this.$router.push("/admin/service-types");
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật Loại Dịch Vụ thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.getDetailServiceType({
      auth: this.$auth,
      code: this.$route.params.code,
      success: res => {
        this.item = res.data.data;
      }
    });
    this.fetchServiceTypes({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.service-types {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
