<template>
  <form class="i-form" @submit.stop.prevent="handleFormSubmit">
    <div class="row">
      <div class="flex sm12">
        <va-card title="Thông tin cơ bản">
          <va-input
            name="title"
            :error="!_.isEmpty(veeErrors.first('title'))"
            :error-messages="[veeErrors.first('title')]"
            v-validate="'required'"
            :state="validateState('title')"
            :value="title"
            @input="$emit('update:title', $event)"
            label="Tiêu đề"
          ></va-input>
           <va-input
            name="icon"
            :error="!_.isEmpty(veeErrors.first('icon'))"
            :error-messages="[veeErrors.first('icon')]"
            @input="$emit('update:icon', $event)"
            v-validate="`required`"
            :state="validateState('icon')"
            :value="icon"
            label="Biểu tượng"
          ></va-input>
           <vue-editor :value="description" @input="$emit('update:description', $event)"></vue-editor>
          <div class="flex sm12 va-modal__actions">
            <div class="d-flex justify--center" style="background: #FFF">
              <va-button type="button" color="gray" flat @click="handleCancelClick">Huỷ</va-button>
              <va-button>Lưu</va-button>
            </div>
          </div>
        </va-card>
      </div>
    </div>
  </form>
</template>

<script>
import { FIELDS } from "./contanst";
import { VueEditor, Quill } from "vue2-editor";

export default {
  components: {
    VueEditor
  },
  props: {
    icon: String,
    title: String,
    description: Number | String,
    list: Array,
    origin: Object
  },
  data() {
    return {
      fields: FIELDS,
    };
  },
  methods: {
    handleFormSubmit() {
      this.$validator.validateAll().then(result => {
        if (!result) {
          return;
        }
        this.$emit("onFormSubmit", {
        });
      });
    },
    validateState(ref) {
      if (
        this.veeFields[ref] &&
        (this.veeFields[ref].dirty || this.veeFields[ref].validated)
      ) {
        return !this.veeErrors.has(ref);
      }
      return null;
    },
    handleCancelClick() {
      this.$emit("onCancelClick");
    }
  }
};
</script>

<style lang="scss" scoped>
.image-titile {
  padding-left: 8px;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #34495e !important;
  font-size: 0.75rem !important;
}
</style>
