<template>
  <ReasonForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="origin"
    :list="list"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import ReasonForm from "./ReasonForm";

export default {
  data() {
    return {
      item: {}
    };
  },
  components: {
    ReasonForm
  },
  computed: {
    ...mapState({
      origin: state => state["reason"].detail,
      list: state => state["reason"].list
    })
  },
  methods: {
    ...mapActions(["fetchReasons", "getDetailReason", "updateReason"]),
    handleCancel() {
      this.$router.push(`/admin/reasons`);
    },
    handleSubmit(file) {
      let data = {};
      if (this.item.icon != this.origin.icon) {
        data.icon = this.item.icon;
      }
      if (this.item.title != this.origin.title) {
        data.title = this.item.title;
      }
      if (this.item.description != this.origin.description) {
        data.description = this.item.description;
      }
      this.updateReason({
        auth: this.$auth,
        id: this.origin._id,
        data: data,
        success: res => {
          this.$router.push("/admin/reason");
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.getDetailReason({
      auth: this.$auth,
      id: this.$route.params.id,
      success: res => {
        this.item = res.data.data;
      }
    });
    this.fetchReasons({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.reasons {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
