<template>
  <ReasonForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="{}"
    :list="list"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import ReasonForm from "./ReasonForm";

export default {
  data() {
    return {
      item: {
        title: "",
        icon: "",
        description: ""
      }
    };
  },
  components: {
    ReasonForm
  },
  computed: {
    ...mapState({
      origin: state => state['reason'].detail,
      list: state => state['reason'].list,
    })
  },
  methods: {
    ...mapActions([
      "fetchReasons",
      "saveReason",
    ]),
    handleCancel() {
      this.$router.push(`/admin/reasons`);
    },
    handleSubmit(file) {
      this.saveReason({
        auth: this.$auth,
        data: this.item,
        success: (res) => {
          this.$router.push('/admin/reason')
          this.$notify({
            type: "success",
            group: "app",
            text: `Tạo thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.fetchReasons({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.reasons {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
