<template>
  <AreaForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="origin"
    :list="list"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import AreaForm from "./AreaForm";

export default {
  data() {
    return {
      item: {}
    };
  },
  components: {
    AreaForm
  },
  computed: {
    ...mapState({
      origin: state => state.area.detail,
      list: state => state.area.list
    })
  },
  methods: {
    ...mapActions(["fetchAreas", "getDetailArea", "updateArea"]),
    handleCancel() {
      this.$router.push(`/admin/areas`);
    },
    handleSubmit(file) {
      let data = {};
      if (this.item.code != this.origin.code) {
        data.code = this.item.code;
      }
      if (this.item.name != this.origin.name) {
        data.name = this.item.name;
      }
      if (this.item.service_fee != this.origin.service_fee) {
        data.service_fee = this.item.service_fee;
      }
      if (this.item.tax_fee != this.origin.tax_fee) {
        data.tax_fee = this.item.tax_fee;
      }
      this.updateArea({
        auth: this.$auth,
        id: this.origin._id,
        data: data,
        success: res => {
          this.$router.push("/admin/areas");
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật Vùng thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.getDetailArea({
      auth: this.$auth,
      code: this.$route.params.code,
      success: res => {
        this.item = res.data.data;
      }
    });
    this.fetchAreas({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.areas {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
