<template>
  <AreaForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="{}"
    :list="list"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import AreaForm from "./AreaForm";

export default {
  data() {
    return {
      item: {
        name: "",
        code: "",
        service_fee: 0,
        tax_fee: 0
      }
    };
  },
  components: {
    AreaForm
  },
  computed: {
    ...mapState({
      origin: state => state.area.detail,
      list: state => state.area.list,
    })
  },
  methods: {
    ...mapActions([
      "fetchAreas",
      "saveArea",
    ]),
    handleCancel() {
      this.$router.push(`/admin/areas`);
    },
    handleSubmit(file) {
      this.saveArea({
        auth: this.$auth,
        data: this.item,
        success: (res) => {
          this.$router.push('/admin/areas')
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật Vùng thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.fetchAreas({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.areas {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
