<template>
  <va-card title="Areas" class="areas">
    <template slot="header">
      <div class="row align--center">
        <div class="flex xs12">
          <div class="d-flex justify--space-between align--center">
            <div class="flex md2 va-card__header-title"></div>
            <va-button-group class="flex">
              <va-button
                @click="handleCreateBtnClick"
                color="gray"
                icon="glyphicon glyphicon-plus"
              >Thêm</va-button>
            </va-button-group>
            <div class="flex md2">
              <va-select
                v-model="per_page"
                :label="$t('tables.perPage')"
                :options="per_page_options"
              />
            </div>
          </div>
        </div>
      </div>
    </template>

    <IDataTable :fields="table_header_fields" :data="list" :per-page="parseInt(per_page)">
      <template slot="actions" slot-scope="props">
        <div class="d-flex">
          <va-button
            @click="handleRowEditClick(props.rowData)"
            flat
            color="gray"
            icon="fa fa-pencil"
          />
          <va-button
            @click="handleRowDeleteClick(props.rowData)"
            flat
            color="gray"
            icon="fa fa-trash"
          />
        </div>
      </template>
    </IDataTable>
  </va-card>
</template>

<script>
import { mapState, mapActions } from "vuex";
import AreaForm from "./AreaForm";
import IDataTable from "../IDataTable.vue";
import { FIELDS } from "./contanst";
import moment from "moment";
import {
  ACTION_FIELD,
  PER_PAGE_OPTIONS,
  DEFAULT_PER_PAGE
} from "../../constant";

export default {
  data() {
    return {
      table_header_fields: FIELDS.concat([ACTION_FIELD]),
      per_page: DEFAULT_PER_PAGE,
      per_page_options: [].concat(PER_PAGE_OPTIONS)
    };
  },
  components: {
    AreaForm,
    IDataTable
  },
  computed: {
    ...mapState({
      list: state => state.area.list
    })
  },
  methods: {
    ...mapActions(["fetchAreas", "deleteArea"]),
    handleRowEditClick(item) {
      this.$router.push(`/admin/edit-area/${item.code}`);
    },
    handleRowDeleteClick(item) {
      this.$swal
        .fire({
          title: "Chắc xoá không?",
          text: "Khi xoá rồi ko lấy lại được!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Xoá!"
        })
        .then(result => {
          if (result.value) {
            this.deleteArea({
              auth: this.$auth,
              id: item._id,
              success: res => {
                this.fetchAreas({
                  auth: this.$auth
                });
                this.$notify({
                  type: "success",
                  group: "app",
                  text: "Xoá Thành Công!"
                });
              }
            });
          }
        });
    },
    handleCreateBtnClick() {
      this.$router.push(`/admin/create-area`);
    },
  },
  mounted() {
    this.fetchAreas({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.areas {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
