<template>
  <form class="i-form" @submit.stop.prevent="handleFormSubmit">
    <div class="row">
      <div class="flex sm12">
        <va-card title="Thông tin cơ bản">
          <va-input
            name="code"
            :error="!_.isEmpty(veeErrors.first('code'))"
            :error-messages="[veeErrors.first('code')]"
            @input="$emit('update:code', $event)"
            v-validate="`required|${!origin.code ? `exist:` : `unique:${origin.code},`}${list.map(item => item.code)}`"
            :state="validateState('code')"
            :value="code"
            label="Mã"
          ></va-input>
          <va-input
            name="name"
            :error="!_.isEmpty(veeErrors.first('name'))"
            :error-messages="[veeErrors.first('name')]"
            v-validate="'required'"
            :state="validateState('name')"
            :value="name"
            @input="$emit('update:name', $event)"
            label="Tên"
          ></va-input>
          <va-input
            name="service-fee"
            :error="!_.isEmpty(veeErrors.first('service-fee'))"
            :error-messages="[veeErrors.first('service-fee')]"
            v-validate="'required|decimal'"
            :state="validateState('service-fee')"
            :value="service_fee"
            @input="$emit('update:service_fee', $event)"
            label="Phí dịch vụ"
          ></va-input>
          <va-input
            name="tax-fee"
            :error="!_.isEmpty(veeErrors.first('tax-fee'))"
            :error-messages="[veeErrors.first('tax-fee')]"
            v-validate="'required|decimal'"
            :state="validateState('tax-fee')"
            :value="tax_fee"
            @input="$emit('update:tax_fee', $event)"
            label="Phí khai báo thuế ban đầu"
          ></va-input>
          <div class="flex sm12 va-modal__actions">
            <div class="d-flex justify--center">
              <va-button type="button" color="gray" flat @click="handleCancelClick">Huỷ</va-button>
              <va-button>Lưu</va-button>
            </div>
          </div>
        </va-card>
      </div>
    </div>
  </form>
</template>

<script>
import { FIELDS } from "./contanst";

export default {
  props: {
    code: String,
    name: String,
    service_fee: Number | String,
    tax_fee: Number | String,
    list: Array,
    origin: Object,
  },
  data() {
    return {
      fields: FIELDS,
    };
  },
  methods: {
    handleFormSubmit() {
      this.$validator.validateAll().then(result => {
        if (!result) {
          return;
        }
        this.$emit("onFormSubmit", {
        });
      });
    },
    validateState(ref) {
      if (
        this.veeFields[ref] &&
        (this.veeFields[ref].dirty || this.veeFields[ref].validated)
      ) {
        return !this.veeErrors.has(ref);
      }
      return null;
    },
    handleCancelClick() {
      this.$emit("onCancelClick");
    }
  }
};
</script>

<style lang="scss" scoped>
.image-titile {
  padding-left: 8px;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #34495e !important;
  font-size: 0.75rem !important;
}
</style>
