<template>
  <vue-editor :value="content" @input="$emit('input', $event)"></vue-editor>
</template>
<script>
import { VueEditor, Quill } from "vue2-editor";

export default {
  name: "editor",
  components: {
    VueEditor
  },
  props: ["content"]
};
</script>

<style lang="scss">
.ql-clipboard {
  position: fixed;
  display: none;

  left: 50%;
  top: 50%;
}
</style>
