<template>
  <fragment>
    <div class="va-data-table">
      <va-inner-loading :loading="loading">
        <vuetable
          ref="vuetable"
          :api-mode="apiMode"
          :fields="fields"
          :api-url="apiUrl"
          :per-page="perPage"
          :query-params="queryParams"
          :data="apiMode ? data : undefined"
          :data-path="apiMode ? 'data' : undefined"
          :data-manager="apiMode ? undefined : dataManager"
          :pagination-path="apiMode ? '' : 'pagination'"
          :no-data-template="noDataLabel"
          :css="styles"
          :row-class="rowClass"
          :detail-row-component="detailRowComponent"
          :detail-row-transition="detailRowTransition"
          @vuetable:cell-clicked="handleCellClicked"
          @vuetable:pagination-data="onPaginationData"
          @vuetable:data-reset="onDataReset"
        >
          <!-- https://stackoverflow.com/questions/50891858/vue-how-to-pass-down-slots-inside-wrapper-component   -->
          <template v-for="slot in Object.keys($scopedSlots)" :slot="slot" slot-scope="scope">
            <slot :name="slot" v-bind="scope" />
          </template>
        </vuetable>
      </va-inner-loading>
    </div>
    <div v-show="!noPagination && paginationTotal > 1" class="va-data-table__pagination">
      <vuetable-pagination-info ref="paginationInfo" :info-template="paginationInfoTemplate"></vuetable-pagination-info>
      <va-pagination
        v-model="currentPage"
        :pages="paginationTotal"
        :visible-pages="visiblePages"
        :boundary-links="paginationTotal > visiblePages"
        @input="inputPage"
      />
    </div>
  </fragment>
</template>

<script>
import { SpringSpinner } from "epic-spinners";
import Vuetable from "./IVuetable";
import VuetablePaginationInfo from "./VuetablePaginationInfo";
import VuetableApiModePaginationInfo from "./VuetableApiModePaginationInfo";

export default {
  name: "i-data-table",
  components: {
    SpringSpinner,
    Vuetable,
    VuetablePaginationInfo,
    VuetableApiModePaginationInfo
  },
  props: {
    fields: {
      type: Array,
      required: true
    },
    data: {
      type: Array
    },
    perPage: {
      type: Number,
      default: 6
    },
    visiblePages: {
      type: Number,
      default: 4
    },
    apiMode: {
      type: Boolean,
      default: false
    },
    apiUrl: {
      type: String,
      default: undefined
    },
    clickable: Boolean,
    hoverable: Boolean,
    noPagination: Boolean,
    noDataLabel: {
      type: String,
      default: undefined
    },
    rowClass: {
      type: Function,
      default: undefined
    },
    queryParams: {
      type: Object,
      default: undefined
    },
    queryParams: {
      type: [Object, Function],
      default: undefined
    },
    loading: Boolean,
    detailRowComponent: String,
    detailRowTransition: String
  },
  data() {
    return {
      totalPages: 0,
      currentPage: 1,
      paginationInfoTemplate: "{from} - {to} trong {total}"
    };
  },
  computed: {
    styles() {
      return {
        tableClass: this.buildTableClass(),
        ascendingIcon: "fa fa-caret-up",
        descendingIcon: "fa fa-caret-down",
        renderIcon: classes => {
          return '<span class="' + classes.join(" ") + '"></span>';
        }
      };
    },
    paginationTotal() {
      return this.apiMode
        ? this.totalPages
        : Math.ceil(this.data.length / this.perPage);
    }
  },
  watch: {
    perPage: function (val) {
      if(Number.isNaN(val)) return this.$refs.vuetable.resetData()
      setTimeout(() => {
        this.refresh();
      }, 50);
    },
    data() {
      this.refresh();
    },
    data() {
      this.refresh();
    },
    limit() {
      this.refresh();
    },
    fields() {
      this.refreshFields(); // support dynamic translations
    }
  },
  methods: {
    buildTableClass() {
      let name = "va-data-table__vuetable va-table va-table--striped";

      if (this.clickable) {
        name += " va-table--clickable";
      }

      if (this.hoverable) {
        name += " va-table--hoverable";
      }

      return name;
    },
    dataManager(sortOrder, pagination) {
       console.log(`dataManager`);
      let sorted = [];

      if (!sortOrder.length) {
        sorted = this.data;
      } else {
        const { sortField, direction } = sortOrder[0];
        sorted =
          direction === "asc"
            ? this.sortAsc(this.data, sortField)
            : this.sortDesc(this.data, sortField);
      }

      if (this.noPagination) {
        return {
          data: sorted
        };
      }
      pagination = this.buildPagination(sorted.length, this.perPage);
      console.log(`dataManager::pagination`, pagination);
      const { from } = pagination;
      const sliceFrom = from - 1;

      return {
        pagination,
        data: sorted.slice(sliceFrom, sliceFrom + this.perPage)
      };
    },
    sortAsc(items, field) {
      return items.slice().sort((a, b) => {
        return a[field].localeCompare(b[field]);
      });
    },
    sortDesc(items, field) {
      return items.slice().sort((a, b) => {
        return b[field].localeCompare(a[field]);
      });
    },
    buildPagination(l, perPage) {
      console.log(`buildPagination::`, l, perPage);
      return this.$refs.vuetable.makePagination(l, perPage);
    },
    inputPage(page) {
      console.log(`inputPage`, page);
      this.$refs.vuetable.changePage(page);
    },
    refresh() {
      this.currentPage = 1;
      this.$refs.vuetable.refresh();
    },
    refreshFields() {
      this.$nextTick(() => {
        this.$refs.vuetable.normalizeFields();
      });
    },
    rowClicked(data, field) {
      console.log(`datable::rowClicked`, data, field);
      this.$emit("row-clicked", data, field);
    },
    handleCellClicked(data, field, event) {
      console.log("cellClicked", field.name);
      if (field.name !== "__actions") {
        this.$refs.vuetable.toggleDetailRow(data.id);
      }
    },
    onDataReset() {
      this.currentPage = 1;
      this.totalPages = 0

    },
    onPaginationData(tablePagination) {
      if (this.apiMode) {
        console.log(`this.apiMode::`, tablePagination);
        this.totalPages = Math.ceil(
          tablePagination.total / tablePagination.per_page
        );
        this.currentPage = tablePagination.page
      }
      if (this.$refs.paginationInfo) {
        if (!this.apiMode)
          return this.$refs.paginationInfo.setPaginationData(tablePagination);

        console.log(`onPaginationData::`, tablePagination);
        const to = tablePagination.page * tablePagination.per_page;
        this.$refs.paginationInfo.setPaginationData({
          ...tablePagination,
          to: to > tablePagination.total ? tablePagination.total : to,
          from: (tablePagination.page - 1) * tablePagination.per_page + 1
        });
      }
    }
  }
};
</script>

<style lang="scss">
@import "~vuestic-ui/src/components/vuestic-sass/resources/resources";

.va-data-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;

  &__vuetable {
    width: 100%;

    th {
      &.sortable {
        color: $brand-primary;
      }

      .sort-icon {
        font-size: 0.625rem;
      }
    }

    .vuetable-empty-result {
      padding: 4.5rem 1rem;
      font-size: 1rem;
      color: $gray;
    }
  }

  &__pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
</style>
