<template>
  <img class="i-logo" src="../assets/icons/slingo-garden.svg" />
</template>
<script>
export default {
  name: "i-logo",
  data() {
    return {
      project_env: process.env.VUE_APP_PROJECT_ENV
    };
  }
};
</script>

<style lang="scss">
</style>
