<template>
 <sup class="project-env" :class="{'project-env': true, 'production': project_env && project_env.toLowerCase() == 'production'}">{{project_env}}</sup>
</template>
<script>
export default {
  name: "i-project-env",
  data() {
    return {
      project_env: process.env.VUE_APP_PROJECT_ENV
    };
  }
};
</script>

<style lang="scss">
@import '../sass/i-variables.scss';
.project-env {
  color: $dark-green;
  &.production {
    color: #ec8135;
  }
}
</style>
