<template>
  <div :class="['vuetable-pagination-info', css.infoClass]"
    v-html="paginationInfo">
  </div>
</template>

<script>
import VuetableApiModePaginationInfoMixin from './VuetableApiModePaginationInfoMixin.vue'

export default {
  mixins: [VuetableApiModePaginationInfoMixin],
}
</script>
