<template>
  <form @submit.prevent="onsubmit">
    <va-input
      v-model="username"
      label="username"
      :error="!!usernameErrors.length"
      :error-messages="usernameErrors"
    />

    <IInput
      v-model="password"
      type="password"
      :label="$t('auth.password')"
      :error="!!passwordErrors.length"
      :error-messages="passwordErrors"
    />

    <va-notification color="danger" v-if="error.show">
      {{ error.data }}
    </va-notification>
            
    <div class="auth-layout__options d-flex align--center justify--space-between">
      <va-checkbox v-model="keepLoggedIn" class="mb-0" :label="$t('auth.keep_logged_in')" />
      <!-- <router-link
        class="ml-1 link"
        :to="{name: 'recover-password'}"
      >{{$t('auth.recover_password')}}</router-link>-->
    </div>

    <div class="d-flex justify--center mt-3">
      <va-button type="submit" class="my-0 cus-btn-login">{{ $t('auth.login') }}</va-button>
    </div>
  </form>
</template>

<script>
import IInput from '../../IInput';

export default {
  name: "login",
  data() {
    return {
      username: "",
      password: "",
      keepLoggedIn: false,
      usernameErrors: [],
      passwordErrors: [],
      error: {
        show: false,
        data: ""
      }
    };
  },
  components: {
    IInput
  },
  computed: {
    formReady() {
      return !this.usernameErrors.length && !this.passwordErrors.length;
    }
  },
  methods: {
    onsubmit() {
      this.usernameErrors = this.username ? [] : ["username is required"];
      this.passwordErrors = this.password ? [] : ["Password is required"];
      if (!this.formReady) {
        return;
      }
      this.$auth.login({
        data: {
          username: this.username,
          password: this.password
        }, // Axios
        rememberMe: this.keepLoggedIn,
        error: res => {
          // this.$notify({
          //   group: "alert",
          //   type: "error",
          //   text: res.response.data
          // });
          this.error = {
            show: true,
            data: res.response.data
          }
        }
      });
    }
  }
};
</script>

<style lang="scss">
.cus-btn-login {
  width: 100%;
}
</style>
