<template>
  <BusinessForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="{}"
    :list="list"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import BusinessForm from "./BusinessForm";

export default {
  data() {
    return {
      item: {
        title: "",
        link: "",
        description: ""
      }
    };
  },
  components: {
    BusinessForm
  },
  computed: {
    ...mapState({
      origin: state => state['business'].detail,
      list: state => state['business'].list,
    })
  },
  methods: {
    ...mapActions([
      "fetchBusinesss",
      "saveBusiness",
    ]),
    handleCancel() {
      this.$router.push(`/admin/businesss`);
    },
    handleSubmit(file) {
      let data = new FormData();
      if (this.item.link != this.origin.link) {
         data.append("link", this.item.link);
      }
      if (this.item.title != this.origin.title) {
         data.append("title", this.item.title);
      }
      if (this.item.description != this.origin.description) {
        data.append("description", this.item.description);
      }
      if (file.image.length != 0) {
        data.append("image", file.image[0]);
      }

      this.saveBusiness({
        auth: this.$auth,
        data: data,
        success: (res) => {
          this.$router.push('/admin/business')
          this.$notify({
            type: "success",
            group: "app",
            text: `Tạo Kinh Doanh thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.fetchBusinesss({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.businesss {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
