<template>
  <va-sidebar :minimized="minimized" class="i-sidebar">
    <template slot="menu">
      <template v-for="(item, key) in items">
        <IVaSidebarLinkGroup
          :key="key"
          :minimized="minimized"
          :icon="[ 'sidebar-menu-item-icon', item.meta.iconClass ]"
          v-if="item.children"
          :title="$t(item.displayName)"
          :children="item.children"
        >
          <IVaSidebarLink
            v-for="(subMenuItem, key) in item.children"
            :resource="subMenuItem.resource"
            :name="subMenuItem.name"
            :key="key"
            :icon="[ 'sidebar-menu-item-icon', subMenuItem.meta.iconClass ]"
            :to="{ path: subMenuItem.path }"
          >
            <span slot="title">{{ $t(subMenuItem.displayName) }}</span>
          </IVaSidebarLink>
        </IVaSidebarLinkGroup>
        <IVaSidebarLink
          v-else
          :resource="item.resource"
          :key="key"
          :name="item.name"
          :minimized="minimized"
          :activeByDefault="$route.path.indexOf(item.path) != -1"
          :icon="[ 'sidebar-menu-item-icon', item.meta.iconClass ]"
          :to="{ path: item.path }"
        >
          <span slot="title">{{ $t(item.displayName) }}</span>
        </IVaSidebarLink>
      </template>
    </template>
  </va-sidebar>
</template>

<script>
import { navigationRoutes } from "./NavigationRoutes";
import IVaSidebarLink from "./IVaSidebarLink";
import IVaSidebarLinkGroup from "./IVaSidebarLinkGroup";

export default {
  name: "app-sidebar",
  components: {
    IVaSidebarLink,
    IVaSidebarLinkGroup
  },
  props: {
    minimized: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      items: navigationRoutes.routes
    };
  },
  methods: {}
};
</script>
<style lang="scss">
$sidebar-width: 12.75rem;
.va-sidebar {
  width: $sidebar-width;
  &--minimized {
    width: 3.5rem;
  }
}
</style>