<template>
  <router-link
   v-if="isShow"
    :class="computedLinkClass"
    @mouseenter.native="updateHoverState(true)"
    @mouseleave.native="updateHoverState(false)"
    :style="computedLinkStyles"
    active-class="va-sidebar-link--active"
    :to="to"
    :target="target"
  >
    <va-icon
      v-if="icon"
      class="va-sidebar-link__content__icon"
      :style="computedIconStyles"
      :name="icon"
    />
    <div class="va-sidebar-link__content__title">
      <slot name="title" />
      {{title}}
    </div>
  </router-link>
</template>

<script>
import VuesticPlugin from "vuestic-ui/src/components/vuestic-plugin";
import { ColorThemeMixin } from "vuestic-ui/src/services/ColorThemePlugin";
import { hex2hsl } from "vuestic-ui/src/services/color-functions";
import { AccessControl } from "role-acl";

export default {
  name: "i-va-sidebar-link",
  components: {},
  mixins: [ColorThemeMixin],
  props: {
    to: {
      type: [Object, String],
      default: ""
    },
    target: {
      type: String,
      default: "_self"
    },
    icon: {
      type: [String, Array]
    },
    title: {
      type: String
    },
    activeByDefault: {
      type: Boolean
    },
    minimized: {
      type: Boolean
    },
    resource: {
      type: String
    },
    name: {
      type: String
    }
  },
  created: async function() {
    try {
      const acl = new AccessControl([].concat(this.$auth.user().grants));
      const permission = await acl
        .can(this.$auth.user().roles)
        .execute("GET")
        .on(`/${this.name}`);
      console.log(`isShow`, this.$route, this.name, permission.granted);
      this.isShow = permission.granted;
    } catch (error) {}
  },
  data() {
    return {
      isHovered: false,
      isActive: this.activeByDefault,
      isShow: false
    };
  },
  watch: {
    $route(route) {
      this.updateActiveState();
    }
  },
  computed: {
    computedLinkClass() {
      return {
        "va-sidebar-link": true,
        "va-sidebar-link--minimized": this.minimized
      };
    },
    computedLinkStyles() {
      let getBackgroundColor = () => {
        let color = hex2hsl(this.$themes.secondary);

        color.s -= 13;
        color.l += 15;

        if (color.s < 0) color.s = 0;
        if (color.l > 100) color.l = 100;

        return color.css;
      };

      if (this.isHovered || this.isActive) {
        return {
          color: this.$themes["primary"],
          backgroundColor: getBackgroundColor(),
          borderColor: this.isActive ? this.$themes["primary"] : "transparent"
        };
      } else return {}; // else <- controlled by CSS (color in rgba)
    },
    computedIconStyles() {
      return this.isHovered || this.isActive
        ? { color: this.$themes["primary"] }
        : { color: "white" };
    }
  },
  methods: {
    updateHoverState(isHovered) {
      this.isHovered = isHovered;
    },
    updateActiveState() {
      this.$nextTick(() => {
        this.isActive = this.$route.path.indexOf(this.to.path) != -1;
      });
    }
  },
  mounted() {
    this.updateActiveState();
  }
};
</script>

<style lang="scss">
@import "~vuestic-ui/src/components/vuestic-sass/resources/resources";

.va-sidebar-link {
  position: relative;
  min-height: 3rem;
  cursor: pointer;
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-left: 0.25rem solid transparent;
  color: rgba(255, 255, 255, 0.65);

  &__content {
    &__icon {
      width: 1.5rem;
      min-width: 1.5rem;
      text-align: center;
      font-size: $sidebar-menu-item-icon-size;
      margin-right: 0.5rem;
    }

    &__title {
      line-height: 1.5em;
    }
  }

  &--minimized {
    .va-sidebar-link__content {
      &__title {
        display: none;
      }
    }
  }
}
.va-sidebar-link-group--minimized {
  .va-sidebar-link-group__submenu {
    width: 11rem !important;
    a {
      display: inline-flex;
      width: 100%;
    }
  }
}
.va-sidebar-link__content__title {
  white-space: nowrap;
  display: inline-flex;
}
</style>
