<template>
  <NewsForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :origin="origin"
    :all_tags="tags"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import { makeHttpClient, difference } from "../../services/utils";
import NewsForm from "./NewsForm";

export default {
  data() {
    return {
      item: {
        tags: []
      }
    };
  },
  components: {
    NewsForm
  },
  computed: {
    ...mapState({
      origin: state => state.news.detail,
      settings: state => state.setting.list
    }),
    tags() {
      if (!this.settings) return [];
      if (this.settings.length == 0) return [];
      const link = this.settings.filter(item => item.code == "NEWS_TAGS");
      if (link.length == 0) return [];
      if (!link[0].value) return [];

      return link[0].value.split(",");
    }
  },
  methods: {
    ...mapActions(["getDetailNews", "updateNews", "fetchSettings"]),
    handleCancel() {
      this.$router.push(`/admin/news`);
    },
    handleSubmit(file) {
      let data = new FormData();
      if (this.item.title != this.origin.title) {
        data.append("title", this.item.title);
      }
      if (file.image.length != 0) {
        data.append("image", file.image[0]);
      }
      if (file.thumb.length != 0) {
        data.append("thumb", file.thumb[0]);
      }

      if (this.item.description != this.origin.description) {
        data.append("description", this.item.description);
      }
      if (this.item.meta_keyword != this.origin.meta_keyword) {
        data.append("meta_keyword", this.item.meta_keyword);
      }
      if (this.item.meta_description != this.origin.meta_description) {
        data.append("meta_description", this.item.meta_description);
      }
      if (this.item.meta_title != this.origin.meta_title) {
        data.append("meta_title", this.item.meta_title);
      }
      if (this.item.content != this.origin.content) {
        data.append("content", this.item.content);
      }
      const tags = this.item.tags.toString();

      if (tags != this.origin.content) {
        data.append("tags", tags);
      }

      this.updateNews({
        auth: this.$auth,
        id: this.origin._id,
        data: data,
        success: res => {
          this.$router.push("/admin/news");
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật dịch vụ thành công`
          });
        }
      });
    }
  },
  async mounted() {
    this.getDetailNews({
      auth: this.$auth,
      slug: this.$route.params.id,
      success: res => {
        this.item = Object.assign({}, res.data.data, {
          tags: res.data.data.tags
            ? res.data.data.tags.split(","): []
        });
      }
    });
    this.fetchSettings({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.news {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
