<template>
  <form class="i-form" @submit.stop.prevent="handleFormSubmit">
    <div class="row">
      <div class="flex sm12">
        <va-card title="Thông tin cơ bản">
          <va-input
            name="title"
            :error="!_.isEmpty(veeErrors.first('title'))"
            :error-messages="[veeErrors.first('title')]"
            v-validate="'required'"
            :state="validateState('title')"
            :value="title"
            @input="$emit('update:title', $event)"
            label="Tiêu đề"
          ></va-input>
          <va-input
            name="description"
            :error="!_.isEmpty(veeErrors.first('description'))"
            :error-messages="[veeErrors.first('description')]"
            :state="validateState('description')"
            :value="description"
            type="textarea"
            @input="$emit('update:description', $event)"
            label="Giới Thiệu Sơ Lược"
          ></va-input>
          <iVaSelect
            name="tags"
            label="Tags"
            :value="tags"
            @input="$emit('update:tags', $event)"
            multiple
            :options="all_tags"
          />
          <va-input
            name="meta_keyword"
            :error="!_.isEmpty(veeErrors.first('meta_keyword'))"
            :error-messages="[veeErrors.first('meta_keyword')]"
            :state="validateState('meta_keyword')"
            :value="meta_keyword"
            @input="$emit('update:meta_keyword', $event)"
            label="Meta Keyword (SEO Web)"
          ></va-input>
          <va-input
            name="meta_title"
            :error="!_.isEmpty(veeErrors.first('meta_title'))"
            :error-messages="[veeErrors.first('meta_title')]"
            :state="validateState('meta_title')"
            :value="meta_title"
            @input="$emit('update:meta_title', $event)"
            label="Meta Title (SEO Web)"
          ></va-input>
          <va-input
            name="meta_description"
            :error="!_.isEmpty(veeErrors.first('meta_description'))"
            :error-messages="[veeErrors.first('meta_description')]"
            :state="validateState('meta_description')"
            :value="meta_description"
            @input="$emit('update:meta_description', $event)"
            label="Meta Description (SEO Web)"
          ></va-input>
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="Thumbnail">
          <div>
            <img :src="origin.thumb" alt />
          </div>
          <va-file-upload
            file-types=".png, .jpg, .jpeg, .gif"
            style="margin-top: 15px;"
            v-model="update_thumb"
            type="gallery"
            dropzone
          />
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="Ảnh Full">
          <div>
            <img :src="origin.image" alt />
          </div>
          <va-file-upload
            file-types=".png, .jpg, .jpeg, .gif"
            style="margin-top: 15px;"
            v-model="update_image"
            type="gallery"
            dropzone
          />
        </va-card>
      </div>
      <div class="flex sm12">
        <va-card title="Nội dung">
          <Editor
            :content="content"
            @input="$emit('update:content', $event)"
          ></Editor>
          <div class="flex sm12 va-modal__actions">
            <div class="d-flex justify--center" style="background: #FFF">
              <va-button
                type="button"
                color="gray"
                flat
                @click="handleCancelClick"
                >Huỷ</va-button
              >
              <va-button>Lưu</va-button>
            </div>
          </div>
        </va-card>
      </div>
    </div>
  </form>
</template>

<script>
import { FIELDS } from "./contanst";
// Advanced Use - Hook into Quill's API for Custom Functionality
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import iVaSelect from "../iVaSelect.vue";
import Editor from "../Editor";

export default {
  props: {
    all_tags: Array,
    title: String,
    description: String,
    meta_keyword: String,
    meta_title: String,
    meta_description: String,
    content: String,
    tags: Array,
    origin: Object
  },
  components: {
    iVaSelect,
    Editor
  },
  data() {
    return {
      editor: ClassicEditor,
      update_image: [],
      update_thumb: []
    };
  },
  methods: {
    handleFormSubmit() {
      this.$validator.validateAll().then(result => {
        if (!result) {
          return;
        }
        this.$emit("onFormSubmit", {
          image: this.update_image,
          thumb: this.update_thumb
        });
      });
    },
    validateState(ref) {
      if (
        this.veeFields[ref] &&
        (this.veeFields[ref].dirty || this.veeFields[ref].validated)
      ) {
        return !this.veeErrors.has(ref);
      }
      return null;
    },
    handleCancelClick() {
      this.$emit("onCancelClick");
    }
  }
};
</script>

<style lang="scss" scoped>
.image-titile {
  padding-left: 8px;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #34495e !important;
  font-size: 0.75rem !important;
}
</style>
