<template>
  <NewsForm
    @onCancelClick="handleCancel"
    @onFormSubmit="handleSubmit"
    v-bind.sync="item"
    :all_tags="tags"
    :origin="{}"
  />
</template>

<script>
import { mapState, mapActions } from "vuex";
import { makeHttpClient, difference } from "../../services/utils";
import NewsForm from "./NewsForm";

export default {
  data() {
    return {
      item: {
        title: "",
        description: "",
        content: "",
        tags: "",
        meta_keyword: "",
        meta_description: "",
        meta_title: "",
        tags: []
      }
    };
  },
  components: {
    NewsForm
  },
  computed: {
    ...mapState({
      settings: state => state.setting.list
    }),
    tags() {
      if (!this.settings) return [];
      if (this.settings.length == 0) return [];
      const link = this.settings.filter(item => item.code == "NEWS_TAGS");
      if (link.length == 0) return [];
      if (!link[0].value) return [];

      return link[0].value.split(",");
    }
  },
  methods: {
    ...mapActions(["saveNews", "fetchSettings"]),
    handleCancel() {
      this.$router.push(`/admin/news`);
    },
    handleSubmit(file) {
      let data = new FormData();
      data.append("title", this.item.title);
      data.append("description", this.item.description);
      data.append("content", this.item.content);
      data.append("meta_keyword", this.item.meta_keyword);
      data.append("meta_description", this.item.meta_description);
      data.append("meta_title", this.item.meta_title);
      data.append("tags", this.item.tags.toString());  
      if (file.image.length != 0) {
        data.append("image", file.image[0]);
      }
      if (file.thumb.length != 0) {
        data.append("thumb", file.thumb[0]);
      }

      this.saveNews({
        auth: this.$auth,
        data: data,
        success: res => {
          this.$router.push("/admin/news");
          this.$notify({
            type: "success",
            group: "app",
            text: `Cập nhật dịch vụ thành công`
          });
        }
      });
    }
  },
  mounted() {
    this.fetchSettings({
      auth: this.$auth
    });
  }
};
</script>

<style lang="scss">
.news {
  .va-select {
    margin-bottom: 0px !important;
  }
}
</style>
