<template>
  <VaPageNotPermission class="va-page-not-found-large-text">
    <div class="va-page-not-found-large-text__number" slot="image">403</div>
  </VaPageNotPermission>
</template>

<script>
import VaPageNotPermission from './VaPageNotPermission'

export default {
  name: 'va-page-not-found-large-text',
  components: {
    VaPageNotPermission,
  },
}
</script>

<style lang="scss">
.va-page-not-found-large-text {
  &__number {
    font-size: 15rem;
    color: $white;
    font-weight: 600;
    @include media-breakpoint-down(xs) {
      font-size: 12rem;
    }
  }
}
</style>
